{{ sso_realm_name }}: "{{ _apb_provision_creds.realm_name }}"
{{ sso_client_name }}: "{{ _apb_provision_creds.realm_name }}-{{ service_name }}"
{{ sso_url_name }}: "{{ _apb_provision_creds.keycloak_uri }}/auth"
